<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>No.</th>
      <th>作者</th>
      <th>书名</th>
      <th>价格</th>
      <th>创建时间</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let book of bookList | async; let i = index;">
      <td>{{i+1}}</td>
      <td>{{book.author}}</td>
      <td>{{book.bookName}}</td>
      <td>{{book.price}}</td>
      <td>{{book.createAt}}</td>
      <td>
        <button (click)="delBook(book)" class="btn btn-danger">删除</button>
      </td>
    </tr>
  </tbody>
</table>

<button (click)="addBook()">添加</button>

<h3>here is the github user lists:</h3>
<div *ngFor="let user of personList | async">
  <div style=" display: flex;flex-direction: row;">
    <div><strong>User Name:</strong> {{ user.login }} </div>
    <div><strong>GitHub URL:</strong> {{ user.url }} </div>
  </div>
</div>
