<!-- <div *ngIf="users$">
  <h3>here is the github user lists:</h3>
  <div *ngFor="let user of users$ |async">
    <div style=" display: flex;flex-direction: row;">
      <div><strong>User Name:</strong> {{ user.login }} </div>
      <div><strong>GitHub URL:</strong> {{ user.url }} </div>
    </div>
  </div>

  <h3>here is the github user lists2:</h3>
  <div *ngFor="let user of users$ |async">
    <div style=" display: flex;flex-direction: row;">
      <div><strong>User Name:</strong> {{ user.login }} </div>
      <div><strong>GitHub URL:</strong> {{ user.url }} </div>
    </div>
  </div>
</div> -->

<button (click)="increment()">Increment</button>

<div>Current Count: {{ count$ | async }}</div>

<button (click)="decrement()">Decrement</button>

<button (click)="reset()">Reset Counter</button>
<button (click)="add()">自定义添加</button>

<hr />
<app-books></app-books>
